# Gradle
.gradle/
build/
**/build/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/

# Logs and temp files
*.log
*.tmp
*.temp

# Keystore files (نباید عمومی بشن)
*.jks
*.keystore

# APKs
*.apk
*.ap_

# OS files
.DS_Store
Thumbs.db
desktop.ini

