# Build outputs
/build/
app/build/

# Gradle
.gradle/
**/build/
local.properties

# IDE
.idea/
*.iml
captures/

# Logs & temp
*.log
*.tmp
*.temp

# Keystores
*.jks
*.keystore

# APKs
*.apk
*.ap_

# System
.DS_Store
Thumbs.db
desktop.ini
